.divel {
    overflow: auto;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
}
.left {
    float: left;
    width: 30%;
    padding: 15px;
}

.menuitem {
    float: left;
    width: 6%;
    padding: 15px;
}

.hero {
    text-align: center;
}


@media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .product {
      width: 100%;
    }
  }