.imgage {
    width: 100px;
    height: 100px
}

.maindiv {
    overflow: auto;
}

.product {
    width: 30%;
    float: left;
    overflow: auto;
    border: 1px solid gray
}

.product-height {
    height: 200px;
    width: 50%;
}


@media only screen and (max-width: 620px) {

    /* For mobile phones: */
    .product {
        width: 100%;
    }
}